In [1]:
import pandas as pd

In [3]:
df=pd.read_excel("data\IdeaFusion-registrations_2025-03-19.xlsx")

<>:1: SyntaxWarning: invalid escape sequence '\I'
<>:1: SyntaxWarning: invalid escape sequence '\I'
C:\Users\pavan sai\AppData\Local\Temp\ipykernel_14976\3232458216.py:1: SyntaxWarning: invalid escape sequence '\I'
  df=pd.read_excel("data\IdeaFusion-registrations_2025-03-19.xlsx")

In [4]:
df.head(1)

,Team ID,Registration ID,Event,Team Lead,Email,Phone,College,Department,Year,Team Size,Amount,Status,Registration Date,Team Members,Team Members Emails,Team Members Phones
0,IN25-257,f98601c8-8505-4777-9f2c-07f7ff5767b4,IdeaFusion,Dhakshinesh R,230935.cs@rmkec.ac.in,9884981887,R.M.K Engineering College,Computer Science and Engineering,2,3,500,PENDING,"19/03/2025, 09:48 pm","Dharshan M, AKASH S","230168.cs@rmkec.ac.in, 230107.cs@rmkec.ac.in","8807337327, 6380169397"

In [5]:
df.columns

Index(['Team ID', 'Registration ID', 'Event', 'Team Lead', 'Email', 'Phone',
       'College', 'Department', 'Year', 'Team Size', 'Amount', 'Status',
       'Registration Date', 'Team Members', 'Team Members Emails',
       'Team Members Phones'],
      dtype='object')

In [6]:
df['Team ID'].value_counts().sum()

61

In [7]:
df.columns

Index(['Team ID', 'Registration ID', 'Event', 'Team Lead', 'Email', 'Phone',
       'College', 'Department', 'Year', 'Team Size', 'Amount', 'Status',
       'Registration Date', 'Team Members', 'Team Members Emails',
       'Team Members Phones'],
      dtype='object')

In [8]:
df.College.value_counts()

College
Hindustan institute of technology and science                   8
Hindustan Institute of Technology and Science                   6
Manakula vinayagar institute of technology                      5
Rajalakshmi Engineering College                                 2
Hindustan Institute of technology and science                   2
SRI KRISHNA COLLEGE OF TECHNOLOGY                               2
V.S.B.ENGINEERING COLLEGE,KARUR                                 1
St. JOSEPHS INSTITUTE OF TECHNOLOGY                             1
St. Joseph's institute of technology                            1
Hits                                                            1
Hindustan institute of science and technology                   1
Hindustan institute of technology and scie                      1
V.S.B.ENGINEERING COLLEGE, KARUR                                1
R.M.K Engineering College                                       1
Hindustan university                                            1
V.S.B.Engineering College                                       1
SRM Institute of Science and Technology, Tiruchirapalli         1
SRM Institue Of Science And Technology                          1
Hindustan university of technology and science                  1
Hindustan University                                            1
Hindustan institute of technology and science                   1
Hindusthan institute of technology and sciences                 1
V.S.B Engineering college                                       1
Hindustan Institute of Technology and science                   1
RMK ENGINEERING COLLEGE                                         1
Sri Sivasubramaniya Nadar College of Engineering                1
Rajalakshmi engineering college                                 1
Rajalakshmi Engineering College                                 1
Sri krishna college of engineering and technology,coimbatore    1
Amrita College of Engineering and Technology                    1
SRM Easwari engineering college                                 1
SRMIST                                                          1
Francis Xavier Engineering College Tirunelveli                  1
HINDUSTAN INSTITUDE OF TECHNOLOGY AND SCIENCE                   1
IFET college of engineering                                     1
St.Joseph's college of engineering                              1
SRM Institute of Science and Technology                         1
Manakula Vinayagar institute of technology                      1
Erode Sengunthar Engineering College, Erode                     1
Ifet college of engineering                                     1
IFET COLLEGE OF ENGINEERING                                     1
22112028@student.hindustanuniv.ac.in                            1
Name: count, dtype: int64

In [9]:
from fuzzywuzzy import process

standard_colleges = ["Hindustan University/HITS","Rajalakshmi Engineering College","R.M.K Engineering College ","V.S.B.ENGINEERING COLLEGE,KARUR", "Sri Sivasubramaniya Nadar","IFET COLLEGE OF ENGINEERING","SRI KRISHNA COLLEGE OF TECHNOLOGY","Manakula Vinayagar Institute of Technology","Erode Sengunthar Engineering College, Erode ","St. Joseph's institute of technology","SRMIST-SRM Institute of Science and Technology"]

# Function to match each entry to the closest name
def match_college(name):
    match, score = process.extractOne(name, standard_colleges)
    return match if score > 80 else name  # Adjust threshold as needed

df["College"] = df["College"].apply(match_college)

print(df)

c:\Users\pavan sai\Desktop\mlprojects\venv\Lib\site-packages\fuzzywuzzy\fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

     Team ID                       Registration ID       Event  \
0   IN25-257  f98601c8-8505-4777-9f2c-07f7ff5767b4  IdeaFusion
1   IN25-254  a3dff9eb-3a25-4a46-9eb9-811bb48317f8  IdeaFusion
2   IN25-253  c66e5c8f-eb54-4cb9-84d2-dd2196ec49d8  IdeaFusion
3   IN25-252  56bc3d95-2f6f-4493-88a9-6f1be5d03499  IdeaFusion
4   IN25-251  96dd83f0-b476-4eea-aa32-8d643f63de82  IdeaFusion
..       ...                                   ...         ...
56  IN25-015  004e86fd-a360-4cbd-af39-2b20f7b4d5bb  IdeaFusion
57  IN25-013  0f5d045d-2daf-4f0e-97db-881cfd0939ad  IdeaFusion
58  IN25-012  edecb425-61f3-4bff-a156-653064043b55  IdeaFusion
59  IN25-007  6f54cca6-afc6-40ba-93de-2bcdea11a97a  IdeaFusion
60  IN25-003  ace227e1-5a17-4733-a1d9-cea74b65a2f7  IdeaFusion

               Team Lead                                    Email       Phone  \
0          Dhakshinesh R                    230935.cs@rmkec.ac.in  9884981887
1         AJAY KUMAR G R                   2301056.cs@rmkec.ac.in  9566231999
2             Prathika V             221301033@rajalakshmi.edu.in  7092714415
3           S yogeswari              221301060@rajalakshmi.edu.in  9342699335
4   Pradyumna Sagar T.               221301031@rajalakshmi.edu.in  8122090023
..                   ...                                      ...         ...
56              SWETHA P  23cu0310413@student.hindustanuniv.ac.in  7418001137
57       Gandla Jyosthna                 jyosthnagandla@gmail.com  9391475927
58      Srirama Priyan K               sriramapriyank12@gmail.com  8946042981
59      Japhlet Sandra J  23CU0310123@student.hindustanuniv.ac.in  9962556041
60        Avinash Lingam               avinashlingam11@gmail.come  8122382750

                                 College                        Department  \
0             R.M.K Engineering College   Computer Science and Engineering
1             R.M.K Engineering College                             BE CSE
2        Rajalakshmi Engineering College           B.Tech Food Technology
3        Rajalakshmi Engineering College                  Food technology
4        Rajalakshmi Engineering College                  Food Technology
..                                   ...                               ...
56             Hindustan University/HITS                               CSE
57           IFET COLLEGE OF ENGINEERING                        Btech cse
58  22112028@student.hindustanuniv.ac.in                        B.TECH CSE
59             Hindustan University/HITS                        B.Tech CSE
60             Hindustan University/HITS                        BTech CSE

    Year  Team Size  Amount    Status     Registration Date  \
0      2          3     500   PENDING  19/03/2025, 09:48 pm
1      2          3     500   PENDING  19/03/2025, 08:27 pm
2      3          2     500   PENDING  19/03/2025, 07:03 pm
3      3          2     500   PENDING  19/03/2025, 06:44 pm
4      3          2     500   PENDING  19/03/2025, 06:34 pm
..   ...        ...     ...       ...                   ...
56     2          3     500  APPROVED  21/02/2025, 12:10 pm
57     2          3     500  APPROVED  21/02/2025, 08:58 am
58     3          3     500  APPROVED  20/02/2025, 07:08 pm
59     2          3     500  APPROVED  20/02/2025, 10:20 am
60     2          3     500  APPROVED  19/02/2025, 01:36 pm

                           Team Members  \
0                   Dharshan M, AKASH S
1             BARATH K, AHAMED FARIDH S
2                       Priyadharsan S
3                            M babisha
4                              Balaji A
..                                  ...
56                SARUMATHI E, VIDHYA S
57  Arun Kumar , Sudharsan Sathyaprabhu
58           Ranjani S, Linkesh Kumar E
59       Raja Meenakshi G, Roseanne Anu
60        Suresh Thevar, Bharath Raj T

                                  Team Members Emails     Team Members Phones
0        230168.cs@rmkec.ac.in, 230107.cs@rmkec.ac.in  8807337327, 6380169397
1        230163.cs@rmkec.ac.in, 230025.cs@rmkec.ac.in  9840460771, 9940371115
2                        221301035@rajalakshmi.edu.in              9442686080
3                        221301009@rajalakshmi.edu.in              8248091079
4                        221301010@rajalakshmi.edu.in              9655055885
..                                                ...                     ...
56  23cu0310392@student.hindustanuniv.ac.in, 23cu0...  9342332359, 8667761038
57   arkumararun81@gmail.com, spsudharsan99@gmail.com  9043909438, 7418908570
58  ranjanishan17@gmail.com, linkeshkumar14@gmail.com  9940342061, 9342447645
59  23CU0310250@student.hindustanuniv.ac.in, 23CU0...  8925390112, 8248173653
60  psureshthevar27@gmail.com, mltbharathraj@gmail...  8850468834, 9841802412

[61 rows x 16 columns]

In [10]:
df.College.value_counts()

College
Hindustan University/HITS                         25
Manakula Vinayagar Institute of Technology         6
R.M.K Engineering College                          5
Rajalakshmi Engineering College                    5
IFET COLLEGE OF ENGINEERING                        5
SRMIST-SRM Institute of Science and Technology     4
V.S.B.ENGINEERING COLLEGE,KARUR                    4
St. Joseph's institute of technology               2
SRI KRISHNA COLLEGE OF TECHNOLOGY                  2
Erode Sengunthar Engineering College, Erode        1
Sri Sivasubramaniya Nadar                          1
22112028@student.hindustanuniv.ac.in               1
Name: count, dtype: int64

In [11]:
df.College.value_counts().sum()

61

In [12]:
df.loc[df["College"] == "22112028@student.hindustanuniv.ac.in", "College"] = "Hindustan University/HITS"

In [13]:
df.College.value_counts()

College
Hindustan University/HITS                         26
Manakula Vinayagar Institute of Technology         6
R.M.K Engineering College                          5
Rajalakshmi Engineering College                    5
IFET COLLEGE OF ENGINEERING                        5
SRMIST-SRM Institute of Science and Technology     4
V.S.B.ENGINEERING COLLEGE,KARUR                    4
St. Joseph's institute of technology               2
SRI KRISHNA COLLEGE OF TECHNOLOGY                  2
Erode Sengunthar Engineering College, Erode        1
Sri Sivasubramaniya Nadar                          1
Name: count, dtype: int64

In [19]:
df.head()

,Team ID,Registration ID,Event,Team Lead,Email,Phone,College,Department,Year,Team Size,Amount,Status,Registration Date,Team Members,Team Members Emails,Team Members Phones
0,IN25-257,f98601c8-8505-4777-9f2c-07f7ff5767b4,IdeaFusion,Dhakshinesh R,230935.cs@rmkec.ac.in,9884981887,R.M.K Engineering College,Computer Science and Engineering,2,3,500,PENDING,"19/03/2025, 09:48 pm","Dharshan M, AKASH S","230168.cs@rmkec.ac.in, 230107.cs@rmkec.ac.in","8807337327, 6380169397"
1,IN25-254,a3dff9eb-3a25-4a46-9eb9-811bb48317f8,IdeaFusion,AJAY KUMAR G R,2301056.cs@rmkec.ac.in,9566231999,R.M.K Engineering College,BE CSE,2,3,500,PENDING,"19/03/2025, 08:27 pm","BARATH K, AHAMED FARIDH S","230163.cs@rmkec.ac.in, 230025.cs@rmkec.ac.in","9840460771, 9940371115"
2,IN25-253,c66e5c8f-eb54-4cb9-84d2-dd2196ec49d8,IdeaFusion,Prathika V,221301033@rajalakshmi.edu.in,7092714415,Rajalakshmi Engineering College,B.Tech Food Technology,3,2,500,PENDING,"19/03/2025, 07:03 pm",Priyadharsan S,221301035@rajalakshmi.edu.in,9442686080
3,IN25-252,56bc3d95-2f6f-4493-88a9-6f1be5d03499,IdeaFusion,S yogeswari,221301060@rajalakshmi.edu.in,9342699335,Rajalakshmi Engineering College,Food technology,3,2,500,PENDING,"19/03/2025, 06:44 pm",M babisha,221301009@rajalakshmi.edu.in,8248091079
4,IN25-251,96dd83f0-b476-4eea-aa32-8d643f63de82,IdeaFusion,Pradyumna Sagar T.,221301031@rajalakshmi.edu.in,8122090023,Rajalakshmi Engineering College,Food Technology,3,2,500,PENDING,"19/03/2025, 06:34 pm",Balaji A,221301010@rajalakshmi.edu.in,9655055885

In [14]:
df["Team Members"] = df["Team Members"].fillna("")
df["Team Members Combined"] = df["Team Lead"] + (", " + df["Team Members"]).str.strip(", ")
new_df = df[["Team ID", "College","Team Members Combined","Year"]]

In [26]:
df.columns

Index(['Team ID', 'Registration ID', 'Event', 'Team Lead', 'Email', 'Phone',
       'College', 'Department', 'Year', 'Team Size', 'Amount', 'Status',
       'Registration Date', 'Team Members', 'Team Members Emails',
       'Team Members Phones', 'Team Members Combined'],
      dtype='object')

In [24]:
a=new_df = df[["Team ID","Team Members Combined","Phone","Team Members Phones"]]
a.to_excel("PhNoList.xlsx",index=True)

In [22]:
new_df

,Team ID,Team Members Combined,Phone,Team Members Phones
0,IN25-257,"Dhakshinesh RDharshan M, AKASH S",9884981887,"8807337327, 6380169397"
1,IN25-254,"AJAY KUMAR G RBARATH K, AHAMED FARIDH S",9566231999,"9840460771, 9940371115"
2,IN25-253,Prathika VPriyadharsan S,7092714415,9442686080
3,IN25-252,S yogeswari M babisha,9342699335,8248091079
4,IN25-251,Pradyumna Sagar T. Balaji A,8122090023,9655055885
...,...,...,...,...
56,IN25-015,"SWETHA PSARUMATHI E, VIDHYA S",7418001137,"9342332359, 8667761038"
57,IN25-013,"Gandla JyosthnaArun Kumar , Sudharsan Sathyapr...",9391475927,"9043909438, 7418908570"
58,IN25-012,"Srirama Priyan KRanjani S, Linkesh Kumar E",8946042981,"9940342061, 9342447645"
59,IN25-007,"Japhlet Sandra JRaja Meenakshi G, Roseanne Anu",9962556041,"8925390112, 8248173653"
60,IN25-003,"Avinash LingamSuresh Thevar, Bharath Raj T",8122382750,"8850468834, 9841802412"

In [36]:
filtered_df = df[~df["College"].str.contains("Hindustan", case=False, na=False)].copy()

# Reset index to maintain order
filtered_df.reset_index(drop=True, inplace=True)

# Ensure all columns stay in place
a=filtered_df[["College", "Team ID", "Phone"]]
a.to_excel("ExternalListIF.xlsx",index=False)

In [31]:
new_df.College.value_counts()

College
Hindustan University/HITS                         26
Manakula Vinayagar Institute of Technology         6
R.M.K Engineering College                          5
Rajalakshmi Engineering College                    5
IFET COLLEGE OF ENGINEERING                        5
SRMIST-SRM Institute of Science and Technology     4
V.S.B.ENGINEERING COLLEGE,KARUR                    4
St. Joseph's institute of technology               2
SRI KRISHNA COLLEGE OF TECHNOLOGY                  2
Erode Sengunthar Engineering College, Erode        1
Sri Sivasubramaniya Nadar                          1
Name: count, dtype: int64

In [22]:

new_df = new_df.sort_values(by="Year", ascending=True)
new_df = new_df.reset_index(drop=True)
new_df

,Team ID,College,Team Members Combined,Year
0,IN25-095,SRI KRISHNA COLLEGE OF TECHNOLOGY,"SHYAM PRASATH SNAVIKA G, NEERAJA G",1
1,IN25-096,"V.S.B.ENGINEERING COLLEGE,KARUR","SIVARANJAN G PRASANNA C, AAKASH M",1
2,IN25-220,IFET COLLEGE OF ENGINEERING,"Dharsha.SGayathridevi.K, Bhavana.V",1
3,IN25-098,SRI KRISHNA COLLEGE OF TECHNOLOGY,"ASWANTH RAM KSABARISH VS, TARUN R",1
4,IN25-128,Hindustan University/HITS,Dhyan PrakashArya Pillai,1
...,...,...,...,...
56,IN25-192,Hindustan University/HITS,"Deepica MManjesh S, Pradesh kumar",3
57,IN25-205,"Erode Sengunthar Engineering College, Erode","Sivaranjini NHarish P, Santhiya M",3
58,IN25-120,Hindustan University/HITS,"Pranesh CAlen Maria Nirmal P R , Radhika K",3
59,IN25-168,Hindustan University/HITS,Joseph Ebinesar Siva shankar,3
60,IN25-175,Hindustan University/HITS,Madhava Reddy Deepthi Reddy,3

In [23]:
new_df.to_excel("IdeaFusionTeamList.xlsx", index=False)